body {font-family: ,sans-serif; }

* {box-sizing: border-box}

:root {
    
    --main-Color: #2a86c5;
}

/* Global Style */
.Container {margin: 0 8%;}
.overlay {position: absolute; width: 100%; height: 100%; top: 0; bottom: 0; left: 0; right: 0; z-index: 2; background-color: rgba(0, 0, 0, .7);}
.title {text-align: center;}
.title::before {content: ''; background: var(--main-Color); height: 5px; width: 150px; margin-left: auto; margin-right: auto; display: block; transform: translateY(63px);} 
.title::after {content: ''; background: var(--main-Color); height: 12px; width: 50px; margin-left: auto; margin-right: auto; display: block; transform: translateY(7px); margin-bottom: 40px;}
p {color: #666;}
@media(max-width:321px) {
    .title {font-size: 2px}
}

@media(max-width:767px) {
    .Container {margin: 0 6%;}
}

/*--------------------------- Start Navbar -------------------------------*/
.Navbar {background: none; color: #FFF; z-index: 5; position: fixed; width: 100%; background-color: var(--main-Color)}
.my-container {margin: 0 8%; padding: 0; display: flex}
.my-container > div {padding: 0;}
.left {width: 25%;}
.left img {width: 165px; margin-top: 8px;}
.right {width: 75%; text-align: right; position: relative;}
.right ul {list-style: none; padding: 0; margin: 0; direction: rtl}
.right ul li {display: inline-block; font-weight: 550; font-size: 20px; cursor: pointer; padding: 20px 13px; float: right; }
.right ul li a {color: #FFF;}
.right ul li:hover, .right ul li.active{background-color: #FFF; color: var(--main-Color); border-radius: 0 30px 0 0;}
.right ul li.active a, .right ul li:hover a {color: var(--main-Color); text-decoration: none}
.fa-bars {position: absolute; right: 0; top: 20px; cursor: pointer; display: none;}
.Nav-links {background-color: var(--main-Color); color: #FFF; position: absolute; width: 100%; top: 70px; z-index: 5; border-top: 1px solid #FFF;  display: none; direction: rtl; text-align: right}
.Nav-links li {list-style: none; font-weight: 550; font-size: 17px; padding: 7px 6% 7px 7px; cursor: pointer;}
.Nav-links li:hover {background-color: #FFF;}
.Nav-links li a {text-decoration: none; color: #FFF} 
.Nav-links li:hover a {color: var(--main-Color); text-decoration: none;}
@media(max-width:1275px) {
    .right ul li {font-size: 17px; padding: 20px 7px}
}
@media(max-width:991px) {
    .Navbar {background-color: var(--main-Color)}
    .right ul {display: none}
    .fa-bars {display: block;} 
}
@media(max-width:767px) {
    .left img {width: 130px; margin-top: 8px;}
    .fa-bars {top: 15px}
    .Nav-links {top: 57px}
}
/*---------------------------- End Navbar ---------------------------------*/


/*---------------------------- Start Header -------------------------------*/
.header {position: relative; background-image: url('../Photos/7.jpg'); background-size: cover; height: 100vh; text-align: center}
.header .body { text-align: center; color: #FFF}
.header .body h1 {font-weight: 400; font-size: 60px; margin-bottom: 25px;}
.header button {border: 2px solid #FFF; color: #FFF; background: none; outline-style: none; cursor: pointer; padding: 7px 25px; margin-top: 30px; border-radius: 5px;}

@media(max-width:787px){
    .header .body h1 {font-size: 40px;}
}
/*---------------------------- End Header -------------------------------*/

/*---------------------------- Start About-Us -------------------------------*/
.about-us {padding: 80px 0 20px; background: #f8f9fa; direction: rtl; text-align: right}
.about-us h1 {margin-bottom: 100px}
.about-us .about-title {font-size: 40px; font-weight: bold; margin: 0 0 20px 0}
.about-us ul {margin-left: 20px; padding: 0}
.about-us ul li {margin: 10px 0; font-weight: 400; font-size: 18px; color: #666;}
.about-us img {border-radius: 5px}
@media(max-width:767px) {
 
    .about-us .about-title {font-size: 30px}
    .about-us ul li {font-size: 17px}
}
/*---------------------------- End About-Us -------------------------------*/


/*-------------------------- Start Features ------------------------------*/
.Features {padding: 80px 0 0; direction: rtl}
.serve {padding: 0 20px 0; margin: 0}
.services-img {width: 150px; margin-top: 20px; height: 150px;}
.serve h4 {font-weight: bold; margin-top: 15px}

@media(max-width:768px) {
}
/*------------------------- End Features --------------------------------------*/


/*-------------------------- Start Steps ------------------------------*/
.Steps {padding: 80px 0 40px; direction: rtl}
.Steps h1 {margin-bottom: 100px}
.Steps h3 {font-size: 17px; margin-top: 20px}
.serve {padding: 10px 20px 0; margin: 0; position: relative}
.serve span {position: absolute; top: 10px; right: 10px; background-color: var(--main-Color); color: #FFF; border-radius: 5px; padding: 5px 10px 7px; font-weight: bold; font-size: 25px; line-height: 1;}
.services-img {width: 150px; margin-top: 20px; height: 150px;}
.serve h4 {font-weight: bold; margin-top: 15px}

@media(max-width:768px) {
}
/*------------------------- End Steps --------------------------------------*/



/*-------------------------- Start Contact -----------------------------------*/
.contact {padding: 80px 0 0; direction: rtl}
.contact-us {display: flex; text-align: center; width: 65%; margin: auto; padding: 65px 0 145px}
.contact-us .input {width: 50%; padding: 5px}
.form-control {margin-bottom: 10px}
.contact-us .message {width: 50%; padding: 5px}
textarea {height: 134px}
.contact-us .message .send {background-color: var(--main-Color); color: #FFF; cursor: pointer; border: 1px solid var(--main-Color); outline-style: none}
.contact .foot {color: var(--main-Color); font-size: 17.5px; text-align: center; padding: 20px; font-weight: bold; border-top: 1px solid var(--main-Color)}
@media(max-width:991px) {
    .contact-us {width: 100%; display: block; margin: auto; padding: 20px 0}
    .contact-us .input {margin: auto; width: 90%}
    .contact-us .message {padding-top: 0; margin: auto; width: 90%}
}
@media(max-width:425px) {
    .contact-us {width: 100%; display: block; margin: auto; }
    .contact-us .input {margin: auto; width: 100%}
    .contact-us .message {padding-top: 0; margin: auto; width: 100%}
}
/*-------------------------- End Contact -------------------------------------*/






